<template>
    <div class="page">
        <nav class='navbar navbar-dark bg-dark'>
            <div class='container'>
                <router-link :to="{ name: 'register' }" class="navbar-brand m-auto" style="font-family: GothamRounded-Light;">H U N T S T R E E T</router-link>
            </div>
        </nav>
        <router-view></router-view>
    </div>
</template>